body {
    width: 940px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background-color: #e3eef3;
    padding: 10px;
    margin-top: 20px;
}

h2 {
    margin-top: 40px;
    border-top: 2px solid #000;
    padding-top: 10px;
}

figure {
    padding: 15px;
    margin: 30px 0;
}

figure img {
    width: 100%;
}

figure figcaption {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}

figure.matriz {
    width: 550px;
    margin: 30px auto;
}

figure.familia {
    width: 275px;
    float: right;
    margin: 0 0 20px 20px;
}

a {
    color: blue;
    text-decoration: underline;
}

h2.titulo-principal {
    background-color: #e3eef3;
    padding: 10px;
    font-size: 26px;
    margin-top: 60px;
    border: none;
}
